.dash{
    height: 100%;
    width: 100%;
}
.nav{
    margin: 0;
    padding: 0;
    float: left;
    height: 100vh;
    width: 13%;
}
.header{
    
}
.dados{
    margin: 50px 50px 10px 210px;
}





