/* HOME */
.dados .home{
    text-align: center;
    display: block;
    font-size: 80px;
    margin-top: 250px;
    color: #343458;
}
.dados .home span{
    font-weight: bold;
}

/* PRODUTOS */
.dados .produtos{
    margin: 5%;
}
.dados .produtos table, td, th{
    border: 1px solid rgb(148, 146, 146);
    border-collapse: collapse;
    padding: 10px;
}
.dados .produtos table{
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
}
.dados .produtos th{
    color: #343458;
    background-color: rgb(154, 154, 253); 
    font-size: 25px;
    font-weight: normal;
    text-align: left;
}
.dados .produtos td{
    background-color: rgba(158, 157, 157, 0.199);
}
.dados .produtos i{
    text-align: center;
}
