/* HOME */
.dados .home{
    text-align: center;
    display: block;
    font-size: 80px;
    margin-top: 250px;
    color: #343458;
}
.dados .home span{
    font-weight: bold;
}

/* PRODUTOS */
.dados .produtos{
    height: 70vh;
    margin: 2%;
    padding: 7px 15px;
    background-color: white;
    overflow-y: auto;
    overflow-x:hidden; 
}
.dados .produtos table, td, th{
    border: 1px solid rgb(148, 146, 146);
    border-collapse: collapse;
    padding: 10px;
}
.dados .produtos table{
    width: 100%;
}
.dados .produtos th{
    width: 20%;
    color: #343458;
    background-color: rgb(154, 154, 253); 
    font-size: 25px;
    font-weight: normal;
    text-align: left;
}
.dados .produtos td{
    background-color: rgba(158, 157, 157, 0.199);
}

.dados .produtos tr th:last-child{
    text-align: center;
}

.dados .produtos .fa-opencart{
    color: #00B242;
}
.dados .produtos .fa-edit{
    color: #343458;
}
.dados .produtos .fa-trash{
    color: red;
}
.dados .produtos table td a{
    /* margin: 0 35%; */
}
.dados .vender .produto-venda{
    float: left;
    text-align: center;
    margin: 0 25px;
    width: 65%;
    background-color: white;
    padding: 10px;
}
.dados .vender .produtos{
    padding: 0;
    border: 1px solid #e1e1e1;
    margin: 0 0 12px 0;
    height: 60vh;
    overflow-y: auto;
}
.dados .vender .input-venda{
    position: relative;
}
.dados .vender .input-venda input{
    width: 100%;
    outline: none;
    border: 2px solid #343458;
    background-color: #afafcf;
    text-align: left;
    font-size: 30px;
    padding: 20px;
    font-weight: 100;
}
.dados .vender .input-venda button{
    color: white;
    font-size: 30px;
    position: absolute; 
    top: 12px;
    right: 10px;
    border-radius: 6px;
}

.dados .vender .input-venda .add_loader{
    position: absolute;
    top: 13px;
    right: 10px;
    color: #FFF;
    display: none;
}

.dados .vender .resumo-venda{
    float: right;
    background-color: white;
    width: 30%;
    padding: 10px;
}
.dados .vender .resumo-venda span{
    text-align: left;
    color: #00B242;
    font-size: 25px;
}
.dados .vender .resumo-venda span i{
    margin: 0 20px 10px 5px;
    font-size: 40px;
}
.dados .vender .resumo-venda .tabela{
    height: 47vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.dados .vender .resumo-venda table{
    
    border-collapse: collapse;
    margin: 5px 2px;
    width: 100%;
    border: none;
}
.dados .vender .resumo-venda td{
    width: 20%;
    border: none;
    border-bottom: 1px solid #e1e1e1;
}
.dados .vender .resumo-venda tr td:first-child{
    width: 50%;
    text-align: left;
    border-right: 1px solid #e1e1e1;
}
.dados .vender .resumo-venda td:last-child{
    width: 10%;
    border-bottom: 1px solid #e1e1e1;
}
.dados .vender .resumo-venda tr a{
    color: red;
}
.dados .vender .resumo-venda .total{
    margin: 5px 10px;
    text-align: center;
    font-weight: bold;
}
.dados .vender .resumo-venda .total .val_total{
    color: #00B242;
}
.dados .vender .resumo-venda .buttons button{
    margin: 37px 20px 20px 20px;
    border-radius: 5px;
    width: 30%;
}
.dados .vender .resumo-venda .buttons :first-child{
    float: left;
}
.dados .vender .resumo-venda .buttons :last-child{
    float: right;
    margin-right: 30px;
}

.dados .vender tr{
    cursor: pointer;
}
.dados .vender tr:hover{
    background-color: #343458;
    color: #FFF;
}
.dados .add_amount{
    text-align: center;
}
.dados .add_amount input{
    display: block; 
    width: 100%;
    padding: 10px;
    margin: 5px auto;
    text-align: center;
}
