*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#e6e6e6;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: 0 10% 0 10%;
    padding: 10px;
}
.form{
    display: block;
}
::-webkit-input-placeholder { 
    opacity:  0.5;
}
:-moz-placeholder { 
    opacity:  0.5;
}
::-moz-placeholder { 
    opacity:  0.5;
}
:-ms-input-placeholder {
    opacity:  0.5;
}
::-ms-input-placeholder {
    opacity:  0.5;
}
.form div{
    padding: 10px;
}
.btn {
    padding: 6px 15px;
    cursor: pointer;
}
.input-green{
    width: 100%;
    border: none;
    padding: 15px;
}
.btn-green{
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #00B242;
    font-size: 1em;
    color: white;
    font-weight: 100;
}
.btn-blue{
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #343458;
    font-size: 1em;
    color: white;
}
.btn-red{
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    background-color: red;
    font-size: 1em;
    color: white;
    font-weight: 100;
}
li a{
    text-decoration: inherit;
    color: inherit;
}