*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#e6e6e6;
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: 0 10% 0 10%;
    padding: 10px;
}
.text-align{
    text-align: center;
}
.form{
    display: block;
}
::-webkit-input-placeholder { 
    opacity:  0.5;
}
:-moz-placeholder { 
    opacity:  0.5;
}
::-moz-placeholder { 
    opacity:  0.5;
}
:-ms-input-placeholder {
    opacity:  0.5;
}
::-ms-input-placeholder {
    opacity:  0.5;
}
.form div{
    padding: 10px;
}
.btn {
    padding: 6px 15px;
    cursor: pointer;
}
.input-green{
    width: 100%;
    border: none;
    padding: 15px;
}
.btn-green{
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #00B242;
    font-size: 1em;
    color: white;
    font-weight: 100;
}
.btn-blue{
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #343458;
    font-size: 1em;
    color: white;
}
.btn-red{
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    background-color: red;
    font-size: 1em;
    color: white;
    font-weight: 100;
}
li a{
    text-decoration: inherit;
    color: inherit;
}

.form-default{
    width: 100%; 
    padding: 10px;

}
.form-default .input-group{
    margin: 5px 0;
    padding: 5px;
}
.form-default .input-control{
    width: 100%;
    padding: 8px;
    font-size: 1.4em;
}
.btn-big{
    font-size: 1.3em;
    padding: 10px 20px;
}
.alert{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

.alert.alert-success{
    background-color: #81C784;
    color: #1B5E20;
}
.btn-fa{
    border: none;
    background: none;
    font-size: 1.3em;
    cursor: pointer;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.5);
    display: none;
}
.modal .modal-content{
    position: relative;
    width: 400px;
    margin: 50px auto;
    background-color: #FFF;
    padding: 20px;
}
.modal .modal-header h2{
    text-align: center;
    color: #555;
}
.modal .modal-close{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 2em;
    border: 1px solid #FF0000;
    background-color: #FF0000;
    color: #FFF;
    border-radius: 50%;
    padding: 2px 8px;
    cursor: pointer;
}